body {
    background-color:beige;}
body div {
    background:lightblue;
    margin-top: 20px;
    margin-bottom: 20px; }
div,li {
    color:rgb(6, 7, 26);}
body table {
    color:beige;
    font-size: 20px;}
table{
    display:inline;
     white 10px;}
table th{
    background-color:black;}
table td{
    background-color:lightslategray}
.p1 {
    text-indent:3em;}
.p2 {
    text-align:center;}
.p3 {
    text-decoration:none;}
.p4 {
    text-decoration:overline;}
.p5 {
    text-decoration:underline;}
.p6 {
    text-decoration:line-through;}
.p7 {
    font-family:serif;}
.p8 {
    font-family:sans-serif;}
.p9 {
    font-family:monospace;}